.discord-bot-view > .ng-scope > div.image {
    width: 100%;
    margin: 0; padding: 0;

    text-align: center;
}

.discord-bot-view > .ng-scope > div.image > img.bot-logo {
    width: 384px; height: 384px;
    margin: 0; padding: 0;
}

.discord-bot-view > .ng-scope > h1 {
    text-align: center;
}

.discord-bot-view > .ng-scope > p {
    text-align: justify;
    text-align-last: center;
}

.discord-bot-view > .ng-scope > .links {
    display: flex;
    flex-direction: row;

    width: 66%;
    margin: 0 auto;
}

.discord-bot-view > .ng-scope > .links > a {
    display: block;

    margin: 0 24px; padding: 12px 0;
    border-radius: 8px;

    text-align: center;

    flex-grow: 1;
    flex-basis: 0;
    border: none;

    background: #2a2a2a; color: #ddd;

    transition: 0.1s all;
}

.discord-bot-view > .ng-scope > .links > a:first-child {
    margin-left: 0;
}

.discord-bot-view > .ng-scope > .links > a:last-child {
    margin-right: 0;
}

.discord-bot-view > .ng-scope > .links > a:hover,
.discord-bot-view > .ng-scope > .links > a:active {
    background: #3d3d3d;
}

span.mono {
    font-family: 'Source Code Pro','Consolas','Courier New',monospace;
    background: #2a2a2a;
}

.ng-scope:not(:last-child) span.mono::after {
    content: ', ';
    font-family: 'Noto Sans','Helvetica','Arial',sans-serif;
    background: #333;
}

@media (max-width: 1024px) {
    .discord-bot-view > .ng-scope > div.image > img.bot-logo {
        display: block;
        width: 100%; height: auto;
        max-width: 384px;
    }

    .discord-bot-view > .ng-scope > .links {
        display: block;
        min-width: 240px;
        max-width: 400px;
    }

    .discord-bot-view > .ng-scope > .links > a {
        margin: 6px 0;
    }
}

