<h1>Welcome to my personal website</h1>
<p>
    This is one of the best places to learn more about me.
</p>

<h2>Looking for anything in particular?</h2>
<p>
    Check out the tabs above. In the projects tab you'll find, well, my projects, as well as the projects I contribute 
    to. If you're looking for an app I made, that is your best bet. The only exception is Discord bots, which are in 
    their own tab. The Discord tab also contains information about my server, among other things. Looking to contact 
    me or learn more about me? Check the about me tab.
</p>

<p>
    Looking for something else? Want to donate, perhaps? Check out the footer. It has all the other important 
    information. 
</p>
