.root {
    width: 100%; height: 100%;
    margin: 0; padding: 0;
}

.root.loaded {
    display: flex;
    flex-direction: column;
}

.root > .root-navbar {
    height: 64px;
    background: #111;
    color: #eee;
}

.root > .root-content {
    flex-grow: 9999;
    width: 1200px;
    margin: 0 auto;
}

.root > .root-content > .ng-scope {
    width: 100%;
    margin: 0; padding: 0;
}

.root > .root-footer {
    background: #222;
}

.root > .root-header > .inner,
.root > .root-footer > .inner {
    width: 1200px;
    margin: 0 auto;
    padding: 16px 0;
}

.root > .root-footer > .inner {
    text-align: center;
    font-size: 11pt;
}

.root > .root-footer > .inner > .small {
    display: inline;
    color: #666;
    font-size: 10pt;
}

.root > .root-footer > .inner > .c3 {
    display: inline-block;
    width: calc(75% - 1px);
    text-align: left;
    vertical-align: top;
}

.root > .root-footer > .inner > .c1 {
    display: inline-block;
    width: calc(25% - 1px);
    text-align: right;
    vertical-align: top;
}

.root > .root-footer > .inner .list-unstyled {
    padding-left: 0;
    list-style: none;
}

.root > .root-navbar,
.root > .root-footer {
    width: 100%;
    margin: 0; padding: 0;
}

@media (max-width: 1000px) {
    .root > .root-content,
    .root > .root-header > .inner,
    .root > .root-footer > .inner {
        width: calc(100% - 32px);
    }

    .root > .root-footer > .inner > .c3,
    .root > .root-footer > .inner > .c1 {
        width: 100%;
        text-align: center;
    }
}
