.project-view > .ng-scope > div.image {
    width: 100%;
    margin: 0; padding: 0;

    text-align: center;
}

.project-view > .ng-scope > div.image > img.project-logo {
    width: 256px; height: 256px;
    margin: 0; padding: 0;
}

.project-view > .ng-scope > h1 {
    text-align: center;
}

.project-view > .ng-scope > p {
    text-align: justify;
    text-align-last: center;
}

.project-view > .ng-scope > .links {
    display: flex;
    flex-direction: row;

    width: 66%;
    margin: 0 auto;
}

.project-view > .ng-scope > .links > a {
    display: block;

    margin: 0 24px; padding: 12px 0;
    border-radius: 8px;

    text-align: center;

    flex-grow: 1;
    flex-basis: 0;
    border: none;

    background: #2a2a2a; color: #ddd;

    transition: 0.1s all;
}

.project-view > .ng-scope > .links > a:first-child {
    margin-left: 0;
}

.project-view > .ng-scope > .links > a:last-child {
    margin-right: 0;
}

.project-view > .ng-scope > .links > a:hover,
.project-view > .ng-scope > .links > a:active {
    background: #3d3d3d;
}
