<h1>About me</h1>
<p>
    Hello, random internet stranger! I am Emzi0767 (or just Emzi), a programmer, book reader, and sci-fi fan. If you 
    want to contact me, check out the contact information at the bottom. 
</p>
<p>
    I have 16 years of experience in messing with computers, 11 of which were spent messing with .NET Framework. My 
    primary language is C#, secondary is Python. I'm also fluent in SQL (mostly Postgres, SQLite, and MSSQL flavours), 
    Java, Kotlin, VB.NET, PHP, JS, LUA, CSS, HTML. On top of that I am decent with C, C++, and F#. I also know small 
    bits of x86, x64, ARMv7, and ARMv8 Assembly. I also have experience resurrecting dead Windows installations.
</p>
<p>
    Although I do my day-to-day stuff on Windows, I prefer FreeBSD and GNU/Linux for actual deployments. I have 
    experience messing around with Docker and BSD Jails. In fact, majority of my infrastructure runs as services in 
    Docker Swarm.
</p>
<p>
    Insofar as platforms go, I have experience developing for .NET Framework, .NET Core and .NET Standard, ASP.NET, 
    ASP.NET Core, Android, and Xamarin. I have even published an application to Google Play Store.
</p>
<p>
    I love Open Source and Free Software, though I dislike GPL, preferring Apache License 2.0, MIT, or BSD licenses 
    instead. During the course of my programming career, I have contributed (and still do contribute!) to several Free 
    Software and Open Source projects.
</p>
<p>
    I don't like bright colours, always preferring shades of perfect gray. You'll most likely find me using #333, 
    #222, #444 as basic colours, with #111 and #007FFF as accent, with #DDD and #EEE as contrast colours. Other than 
    that I like various shades of blue and dark grey. 
</p>
<p>
    I also like playing with hardware, and networks. I currently own a Raspberry Pi model B, Raspberry Pi 2 model B, 
    and Arduino MEGA 1280 (the old one). I never throw computers away, instead repurpose them and make them fulfill 
    specific tasks in my little Internet of Things. I like decentralizing things, breaking things, fixing things. I 
    prefer building my desktops, and Thinkpads for my laptops. 
</p>
<p>
    If you need something done, and think that I am the right person for the job, you can contact me via email to 
    discuss details. Take my full nickname and add gmail. I generally don't take long to respond, and I'll always try 
    to make sure to respond as quickly as possible (unless, for some reason, your mail gets stuck in the spam filter, 
    or looks like generic recruitment mass emails) and let you know if I am interested. 
</p>
<p>
    Although it may sound cheesy, my favourite sci-fi franchises are Star Wars and Star Trek. I also love reading 
    fantasy and science fiction books. The Hitchhiker's Guide to the Galaxy will always have a special place in my 
    heart. I'm also an avid prequel memer. Outside of computers, and reading, I know how not to burn my house down 
    when cooking and how to keep my stuff clean. 
</p>
<p>
    I'm an extremely pedantic perfectionist, I always organize things in a very specific manner. All pens on my desk 
    are perfectly parallel to each other and to the desk's edge, my USB drives are placed in a single box on my desk. 
    My code reflects that, always being organized in a manner which makes it clear what goes where and does what. 
</p>
<p>
    I also own a cat, and he's the cutest little thing. You can find some pictures of him 
    <a href="https://imgur.com/a/WiLiS" title="Emzi's Cat, Ramses" alt="Emzi's Cat, Ramses" target="_blank">over here</a>. 
    He's addicted to humans, loves cuddling, and sleeping on and around people. 
</p>
<p>
    Most importantly, however, I always know where my towel is. My favourite beverage is Earl Grey tea, double or no 
    sugar. 
</p>

<h2>Contact information</h2>
<p>
    If you seek to contact me, there are 2 best ways of doing so. 
</p>
<p>
    <strong>My email:</strong> Just take my full nickname. Email itself is hosted by Google, so you can guess the 
    second half.<br>
    <strong>Discord:</strong> On Discord I am Emzi0767#1837. I spend most time in my own server, Discord API, 
    Clyde.NET developer server, and DSharpPlus developer server. 
</p>
<p>
    Other than that all the significant links were listed in the footer. 
</p>
